@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  height: 100%;
}

.min-h-0 {
  min-height: 0;
}

/*--------------------*/
:root {
  --blue: #000648;
  --green: #00aa4e;
  --white: #fff;
  --dark: #111;
  --grey: #4d4d4d;
}

body {
  font-family: "Poppins", system-ui;
  font-size: 18px;
  line-height: 1.5;
  color: var(--grey);
}
@media (max-width: 1220px) {
  body {
    font-size: 16px;
  }
}

content-container {
  display: block;
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 1220px) {
  content-container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  content-container {
    max-width: 400px;
  }
}

section {
  padding: 70px 0;
}
@media (max-width: 1220px) {
  section {
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  section {
    padding: 50px 0;
  }
}

hgroup {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 1220px) {
  hgroup {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  hgroup {
    margin-bottom: 40px;
  }
}

.button {
  display: inline-block;
  border-radius: 100px;
  padding: 14px 32px;
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 14px;
}
.button:active {
  opacity: 0.7;
}

.button-gradient {
  color: var(--white);
  background: linear-gradient(135deg, #00904d 0%, #003d4a 100%);
}
.button-gradient:hover {
  background: linear-gradient(135deg, #003d4a 0%, #00904d 100%);
}

.button-white {
  color: var(--blue);
  background-color: var(--white);
}
.button-white:hover {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--white);
}

.button-outline {
  color: var(--white);
  border-color: var(--white);
}
.button-outline:hover {
  background-color: var(--white);
  color: var(--blue);
}

h1,
.h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 1220px) {
  h1,
  .h1 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  h1,
  .h1 {
    font-size: 28px;
  }
}

h2,
.h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 120%;
  color: var(--dark);
}
@media (max-width: 1220px) {
  h2,
  .h2 {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  h2,
  .h2 {
    font-size: 22px;
  }
}

h3,
.h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  color: var(--dark);
}
@media (max-width: 1220px) {
  h3,
  .h3 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  h3,
  .h3 {
    font-size: 20px;
  }
}

h4,
.h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  color: var(--dark);
}
@media (max-width: 1220px) {
  h4,
  .h4 {
    font-size: 16px;
  }
}

input {
  display: block;
  width: 100%;
  padding: 14px 24px;
  background-color: unset;
  border-radius: 100px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  border: 1px solid var(--dark);
}
input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}
input::placeholder {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}

.header {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 16px;
  color: var(--dark);
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .header__row {
    flex-direction: column;
    gap: 20px;
  }
}
.header__left a:hover {
  opacity: 0.7;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__right ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .header__right ul {
    gap: 20px;
  }
}
.header__right li a {
  display: block;
}
.header__right li a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
@media (max-width: 768px) {
  .header__right .button {
    display: none;
  }
}

.footer {
  background: var(--blue);
  padding: 40px 0;
  font-size: 14px;
  color: var(--white);
  margin-top: 70px;
}
@media (max-width: 1220px) {
  .footer {
    margin-top: 60px 0;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: 50px 0;
  }
}
.footer__upper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 1220px) {
  .footer__upper {
    flex-direction: column;
    align-items: center;
  }
}
.footer__left {
  flex-shrink: 0;
}
.footer__left ul {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.footer__left li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background-color: var(--white);
}
.footer__left a:hover {
  opacity: 0.7;
}
.footer__right {
  display: flex;
  gap: 20px;
}
@media (max-width: 1220px) {
  .footer__right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer__right {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}
.footer__right dl {
  flex: 1;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1220px) {
  .footer__right dl {
    width: 100%;
  }
}
.footer__right ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__right dt {
  font-weight: 600;
}
.footer__right a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
@media (max-width: 768px) {
  .footer__right a {
    justify-content: center;
  }
}
.footer__right a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.footer__lower {
  padding-top: 20px;
  border-top: 1px solid var(--white);
  margin-top: 40px;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
}

.intro {
  padding: 0;
  padding-bottom: 70px;
}
@media (max-width: 1220px) {
  .intro {
    padding-bottom: 60px 0;
  }
}
@media (max-width: 768px) {
  .intro {
    padding-bottom: 50px 0;
  }
}
.intro__content h1 {
  margin-bottom: 12px;
}
.intro__content dl {
  flex: 1;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: 1px solid var(--blue);
  border-right: 1px solid var(--blue);
}
@media (max-width: 768px) {
  .intro__content dl {
    width: 100%;
    padding: 20px 0;
    border: unset;
    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
  }
}
.intro__content dl:nth-child(2) {
  border: unset;
}
.intro__banner {
  border-radius: 10px;
  color: var(--white);
  padding-left: 100px;
  padding-right: 130px;
  padding-top: 75px;
  margin-bottom: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .intro__banner {
    padding: 60px 20px 0 20px;
  }
}
.intro__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1220px) {
  .intro__row {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
.intro__left {
  align-self: center;
  flex: 0 1 580px;
}
@media (max-width: 1220px) {
  .intro__left {
    flex: unset;
    text-align: center;
  }
}
.intro__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
@media (max-width: 1220px) {
  .intro__buttons {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .intro__buttons {
    flex-direction: column;
  }
  .intro__buttons a {
    width: 100%;
  }
}
.intro__right {
  align-self: end;
}
@media (max-width: 1220px) {
  .intro__right {
    align-self: unset;
  }
}
@media (max-width: 768px) {
  .intro__right {
    max-width: 200px;
  }
}
.intro__figures {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .intro__figures {
    flex-direction: column;
  }
}

.about__content dl {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about__content dt {
  display: flex;
  align-items: center;
  gap: 16px;
}
.about__content dt:before {
  content: "";
  flex-shrink: 0;
  display: block;
  width: 34px;
  height: 16px;
  background-image: url("/img/switcher.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.about__content br {
  content: "";
  display: block;
  height: 8px;
}
.about__row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .about__row {
    flex-direction: column;
  }
}
.about__text {
  flex: 0 1 580px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 768px) {
  .about__text {
    gap: 20px;
  }
}
.about__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 768px) {
  .about__list {
    gap: 20px;
  }
}
.about__image {
  flex: 0 1 480px;
}
.about__image img {
  border-radius: 10px;
}

.content__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .content__grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.content__see-more {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.item__video {
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.item__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.item__video:hover img {
  filter: brightness(0.7);
}
.item__video:hover::after {
  content: "";
  display: block;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("/img/video-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.item iframe {
  aspect-ratio: 1;
}
.item__image {
  border-radius: 10px;
  aspect-ratio: 2.5/1;
  overflow: hidden;
}
.item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.5s;
}
.item__text h4 {
  margin-bottom: 8px;
}
.item__badge {
  display: inline-block;
  padding: 5px 24px;
  margin-bottom: 16px;
  border-radius: 100px;
  border: 1px solid var(--green);
  font-size: 14px;
  color: var(--green);
  text-transform: lowercase;
}
.item__badge:hover {
  background-color: var(--green);
  color: var(--white);
}
.item__date {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  color: var(--blue);
}
.item:hover .item__image img {
  transform: scale(1.1);
}
.item__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner__content {
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 100px;
}
.banner__content h2,
.banner__content p {
  color: var(--white);
}
@media (max-width: 1220px) {
  .banner__content {
    padding: 80px 60px;
  }
}
@media (max-width: 768px) {
  .banner__content {
    padding: 60px 20px;
  }
}
.banner__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 715px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .banner__text {
    text-align: center;
  }
}
.banner__form {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 715px;
}
@media (max-width: 768px) {
  .banner__form {
    flex-direction: column;
  }
  .banner__form button {
    width: 100%;
  }
}
.banner__form input {
  border: 1px solid var(--white);
  color: var(--white);
}
.banner__form input::-moz-placeholder {
  color: var(--white);
}
.banner__form input::placeholder {
  color: var(--white);
}
.banner__form input:not(:focus):hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.banner__form button {
  flex-shrink: 0;
}