.content {

  &__content {}

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: $forMobile) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  &__see-more {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: relative;

  &__video {
    aspect-ratio: 1;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      border-radius: 10px;
    }

    position: relative;

    &:hover img {
      filter: brightness(0.7);
    }

    &:hover::after {
      content: "";

      display: block;
      width: 46px;
      height: 46px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      background-image: url("/img/video-play.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  iframe {
    aspect-ratio: 1;
  }

  &__image {
    border-radius: 10px;
    aspect-ratio: 2.5/1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;


      transition: 0.5s;
    }
  }

  &__text {
    h4 {
      margin-bottom: 8px;
    }
  }

  &__badge {
    display: inline-block;
    padding: 5px 24px;
    margin-bottom: 16px;

    border-radius: 100px;
    border: 1px solid var(--green);

    font-size: 14px;
    color: var(--green);
    text-transform: lowercase;

    &:hover {
      background-color: var(--green);
      color: var(--white);
    }
  }

  &__date {
    display: block;
    margin-bottom: 12px;

    font-size: 14px;
    color: var(--blue);
  }

  &:hover &__image img {
    transform: scale(1.1);
  }

  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}